@import '~common/stylus/variable'

html
  font-family Microsoft YaHei,Helvetica Neue,Helvetica,STHeiTi,Arial,sans-serif
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility

.art_p, .news-content p
  margin 0 30px 48px
  font-size $font-size-content-p /*px*/
  color #1a1a1a
  line-height 60px /*px*/
  word-break normal
  text-align justify

.art_img_tit
    margin: 0 30px 48px
    font-size: $font-size-content-info /*px*/
    color: #888;
    line-height: 60px /*px*/

.art_img_mini_img, .news-content img
  max-width 100%
  min-width 100%

.art_p strong
  font-weight: 700;

.art_img_mini, .img_wrapper 
  text-align: center
  padding: 0 16px
  margin-bottom: 20px
